## Deliverable 3. Create a Travel Itinerary Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Keningau,MY,72.05,overcast clouds,5.3378,116.1602,Sabindo Hotel
1,12,Navrongo,GH,85.03,overcast clouds,10.8956,-1.0921,Azakka Hotel
2,13,Mareeba,AU,75.92,few clouds,-17.0000,145.4333,Trinity Plains Tourist Park
3,16,Palembang,ID,74.01,broken clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
4,21,Tiarei,PF,84.22,light rain,-17.5333,-149.3333,Le Rocher de Tahiti

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Pacific Grove") & (vacation_df["Hotel Name"] == "Lovers Point Inn")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Pacific Grove") & (vacation_df["Hotel Name"] == "Lovers Point Inn")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Pahrump") & (vacation_df["Hotel Name"] == "Best Western Pahrump Oasis")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Rosarito") & (vacation_df["Hotel Name"] == "Hotel Festival Plaza Rosarito")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Isla Vista") & (vacation_df["Hotel Name"] == "Best Western Plus South Coast Inn")]

In [42]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
212,555,Pacific Grove,US,72.16,overcast clouds,36.6177,-121.9166,Lovers Point Inn

In [43]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
271,695,Pahrump,US,73.26,overcast clouds,36.2083,-115.9839,Best Western Pahrump Oasis

In [44]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
288,743,Rosarito,MX,77.58,broken clouds,32.3333,-117.0333,Hotel Festival Plaza Rosarito

In [45]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
267,680,Isla Vista,US,79.68,clear sky,34.4133,-119.861,Best Western Plus South Coast Inn

In [46]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
212,555,Pacific Grove,US,72.16,overcast clouds,36.6177,-121.9166,Lovers Point Inn

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

# Print
print(f"Starting Vacation at: {start}.\n Then make your first stop at: {stop1}.\n Followed by stop 2: {stop2}.\n Proceed to stop 3: {stop3}.\n Ending Vacation at: {end}.")

Starting Vacation at: (36.6177, -121.9166).
 Then make your first stop at: (36.2083, -115.9839).
 Followed by stop 2: (32.3333, -117.0333).
 Proceed to stop 3: (34.4133, -119.861).
 Ending Vacation at: (36.6177, -121.9166).

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, 
                                            waypoints=[stop1, stop2, stop3],
                                            travel_mode = "DRIVING")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,555,Pacific Grove,US,72.16,overcast clouds,36.6177,-121.9166,Lovers Point Inn
1,695,Pahrump,US,73.26,overcast clouds,36.2083,-115.9839,Best Western Pahrump Oasis
2,743,Rosarito,MX,77.58,broken clouds,32.3333,-117.0333,Hotel Festival Plaza Rosarito
3,680,Isla Vista,US,79.68,clear sky,34.4133,-119.8610,Best Western Plus South Coast Inn

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))